*.cache
*.dat
*.exe
*.pdb
*.sav
*.dll
source/repos/Проект к школе/ClassLibrary2/bin/

source/repos/Проект к школе/ClassLibrary2/obj/

source/repos/Проект к школе/Writer/bin/

source/repos/Проект к школе/Writer/obj/

source/repos/Проект к школе/Тестовая система/bin/

source/repos/Проект к школе/Тестовая система/obj/

*.resources

source/repos/Проект к школе/AnalysisLibrary/obj/Debug/AnalysisLibrary.csproj.FileListAbsolute.txt
